.border-overlay {
  position: absolute;
  inset: 0;
  border-radius: 8px;
  z-index: 10;
  pointer-events: none;
}

.react-flow__resize-control.handle {
  width: 8px !important;
  height: 8px !important;
  border-radius: 2px !important;
  border-width: 3px !important;
  border-color: #9CA3AF !important;
  background-color: white !important;
}

.react-flow__resize-control.line {
  border-width: 3px !important;
  border-color: #9CA3AF !important;
}
